# Node.js dependencies
node_modules/
.pnpm/
.pnpm-debug.log
pnpm-lock.yaml

# Next.js build output
.next/
.out/
.vercel/
dist/

# Environment variables
.env
.env.local
.env.development.local
.env.production.local
.env.test.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# TypeScript cache
*.tsbuildinfo

# Mac system files
.DS_Store

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Jest & testing
coverage/
jest.cache/
.vitest/

# Misc
*.log
*.gz
/certificates
